/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(wooden-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    color: black;
    height: 100%;
}

h1, h2 {
    text-align: center;
}


main {
    padding: 16px;
    margin: auto;
    background-image: url(wooden-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding: 20px 0px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    color: goldenrod;
    background-color: rgba(42, 91, 165, 0.844);
    overflow: hidden;
}

img {
    margin: auto;
    display: block;
    height: 250px;
}

a,a:visited {
    text-decoration: none;
    color: rgb(255, 235, 53);
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    margin: 0 0 0 0;
    background-color: rgba(219, 65, 65, 0.675);
}

nav a {
    color:white;
}


.grid-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}

/* .grid-item{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
} */

div {
    text-align: center;
}

table {
    margin: auto;
}

ol {
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.419);
}

/* .grid-temp {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
}

.rating {
    display:grid;
    grid-template-columns: 5;
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
} */
